.skills-container {
  margin: 1rem;
  padding: 1rem;
  align-items: left;
  background-color: white;
  border: 2px solid #40c0c0;
  border-radius: 8px;
}

.code-icon {
  margin-top: 0.5rem;
  border: none;
}

.gif {
  margin-top: -0.3rem;
  margin-right: 1rem;
  border: none;
}

.proj-img {
  float: left;
  margin-right: 1rem;
  border: 2px solid #40c0c0;
  border-radius: 8px;
}

.inline-icon {
  margin-top: 0.5rem;
  margin-right: 1rem;
}

p {
  margin: 0;
  padding: 0;
}

.skills-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.skills-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.skills-span {
  color: #39acac;
  font-weight: bold;
}

.studies-span {
    color: #000000;
    font-weight: bold;

  }

.spacer {
  min-width: 66px;
  float: left;
}
